@using Orders.Models.DB
@model IEnumerable<Order>
@{
	ViewBag.Title = "Index";
}
<div><b>Order table</b><br /></div>

@if (TempData["ErrorMessage"] != null)
{
	<div class="alert alert-danger" role="alert"><b>@TempData["ErrorMessage"]</b><br /></div>
}
@{
	<form class="mb-1" method="get">
		<div class="row">
			<div class="col">
				<label for="startDate">Start Date</label>
				<input id="startDate" name="startDate" value="@ViewBag.startDate" class="form-control" type="date" />
			</div>
			<div class="col">
				<label for="endDate">End Date</label>
				<input id="endDate" name="endDate" class="form-control" type="date" />
			</div>
			<div class="col">
				<label for="ProviderSelector">Order option</label>
				<select class="form-select" aria-label="Default select example" name="column" id="column">
					<option value="0">Id</option>
					<option value="1">ProviderId</option>
					<option value="2">Date</option>
					<option value="3">Number</option>
				</select>
			</div>
			<div class="col align-self-end">
				<label for="ProviderSelector">Order Provider</label>
				<select class="form-select" aria-label="Default select example" name="ProviderId" id="ProviderSelector">
					@foreach (var d in @ViewBag.provider)
					{
						<option value="@d.Id">@d.Name</option>
					}
				</select>
			</div>
			<div class="col align-self-end">
				<button type="submit" class="btn btn-primary">use Filter</button>
				<button id="clear" class="btn btn-primary">Clear</button>
			</div>
		</div>
	</form>
	<div class="mb-2 d-flex justify-content-around">
		<button id="create" class="btn btn-primary">Create</button>
	</div>
	OrderTable(Model);
	<div id="modDialog" class="modal fade">
		<div id="dialogContent" class="modal-dialog"></div>
	</div>

}

@section scripts
	{
	<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
	<script>
		$(function() {
			// setTimeout() function will be fired after page is loaded
			// it will wait for 5 sec. and then will fire
			// $("#successMessage").hide() function
			setTimeout(function() {
				$(".alert-danger").hide()
			}, 6000);
		});
	</script>
	<script type="text/javascript">
		$(function() {
			$.ajaxSetup({ cache: false });
			$("#clear").click(function(e) {
				e.preventDefault();
				location.href = `/`;
			});
		})
	</script>
	<script type="text/javascript">
		$(function() {
			$.ajaxSetup({ cache: false });
			$("#create").click(function(e) {
				e.preventDefault();

				$.get("/Order/Create", function(data) {
					$('#dialogContent').html(data);
					$('#modDialog').modal('show');
				});
			});
		})
	</script>
	<script type="text/javascript">
		$(function() {
			let searchParams = new URLSearchParams(window.location.search)
			let isStart = searchParams.has('startDate');
			let isEnd = searchParams.has('endDate');
			let isColumn = searchParams.has('column');

			if (isStart && isEnd && isColumn) {
				$('#startDate').val(searchParams.get('startDate'));
				$('#endDate').val(searchParams.get('endDate'));
				$('#ProviderSelector').val(searchParams.get('ProviderId') ?? 0);
				$('#column').val(searchParams.get('column'));
			}
			else {
				let date = dayjs().format('YYYY-MM-DD')
				let startDate = dayjs().subtract(1, 'month').format('YYYY-MM-DD')
				$('#startDate').val(startDate);
				$('#endDate').val(date);
				$('#ProviderSelector').val(0);
				$('#column').val(0);
			}
		})
	</script>
	<script type="text/javascript">
		$(function() {
			$.ajaxSetup({ cache: false });
			$(".btn-outline-primary").click(function(e) {
				e.stopPropagation();
			});
			$(".btn-outline-danger").click(function(e) {
				e.stopPropagation();
			});
		})
		function rowEditClick(id) {
			$.get(`/Order/Edit/${id}`, function(data) {
				$('#dialogContent').html(data);
				$('#modDialog').modal('show');
			});
		}
		function rowDeleteClick(id) {
			location.href = `/Order/Delete/${id}`;
		}
	</script>
}

	@functions {
	void OrderTable(IEnumerable<Order> Orders)
	{
		<table class="table table-bordered table-responsive table-hover">
			<tr>
				<th>Order Id </th>
				<th>Order number </th>
				<th>Order Date </th>
				<th>Provider </th>
				<th>Actions </th>
			</tr>
			@foreach (var d in Orders)
			{
				<tr onclick="location.href = '/DetailInfo/@d.Id'">
					<td>@d.Id</td>
					<td>@d.Number</td>
					<td>@d.Date.ToString("dd.MM.yyyy")</td>
					<td>@d.Provider.Name</td>
					<td>
						<button type="button" class="btn  btn-outline-primary" onclick="rowEditClick(@d.Id)">
							<i class="bi bi-pencil"> Edit </i>
						</button>
						<button type="button" class="btn  btn-outline-danger" onclick="rowDeleteClick(@d.Id)">
							<i class="bi bi-trash3"> Delete </i>
						</button>
					</td>
				</tr>
			}
		</table>
	}
}